---
import Layout from '../layouts/BaseLayout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog')
---

<Layout title="Blog">
    <h1>Latest Blog Posts</h1>
    <section class="blog-post-list">
        {posts.length > 0 ? posts.map((post) => <BlogPostPreview post={post} />) : (<p>No posts available</p>)}
    </section>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: var(--color-primary);
    }

    .blog-post-list {
        display: grid;
        gap: 2rem;
    }
</style>